body {
  font-size: 16px;
}

h3 {
  font-size: 35px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
}

footer {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 40px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px 15px;
}

.jumbotron {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 0;
}

.jumbotron h1 {
  margin-top: 10px;
}

.jumbotron p {
  line-height: 1.6;
}

@media (min-width:1200px) {
  .container {
    width:1100px
  }
}
