@media print {

img {
max-width: 300px;
}

@page {
margin: 1cm;
}

@page :left {
margin: 1cm;
}

@page :right {
margin: 1cm;
}

@page :first {
  margin: 1cm 2cm;
}

body {
font: 12pt Georgia, Times, serif;
line-height: 1.4;
}


h1 {
font-size: 18pt;
font-weight:bold;
}

h2 {
font-size: 14pt;
margin-top: 25px;
}

aside h2 {
font-size: 18pt;
}

video, iframe, embed, object{
	display:none;
}

p a:after {
content: " (" attr(href) ")";
font-size: 80%;
}

p a[href^="http://"]:after {
content: " (" attr(href) ")";
font-size: 90%;
}

p a {
word-wrap: break-word;
}

aside {
border-top: 1px solid #bbb;
margin-top: 30px;
display: block;
}

page-break-before: always;

}
