
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left:auto;
  margin-right:auto;
  max-width:85%;
}

.wrapper > * {
  flex: 1 100%;
}

.footer {
  background: #eee;
  min-height:55px;
  text-align: right;
  padding:20px 0px;
}

.main {
  text-align: left;
  background: white;
}

hgroup{
  padding:20px 50px;
}

.main div.line{
	background-color:#3fb58e;
	height: 55px;
	padding:0px 0px 5px 0px;
}

.line p, .agenda p{
	font-weight: 300;
}

.line p{
	padding:11px 50px;
	color:white;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
.aside {
  background: #506b7b;
  width:5%;
  padding:0;
  color:white;
}

.aside img{
	width:100%;
}

.attribution {
	bottom: 10px;
	color: #eee;
	opacity: 0.5;
	position: relative;
	top: -30px;
	transition: all 0.2s ease 0s;
	float: right;
	right: 15px;
}

.goals{
	padding:10px 20px;
}

.goals ul, .literacy{
	margin-bottom:10%;;
}

.goals ul, .agenda ul{
	padding-left:0;
	
}

.agenda>ul>li>div, footer {
	padding:20px 50px;
}

.goals ul li{
	list-style-position:inside;
	list-style-type: square;
	font-weight:300;
	font-size:.9em;

}

.agenda>ul>li{
	list-style-position:inside;
	list-style-type: none;
	border-bottom: 1px solid #eee;
}

.agenda ul li ul{
	padding-left:10px;}

.time{
	width:60px;
	height:60px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    display: inline-block;
    border: 2px solid #3fb58e;
    float:right;
    padding:0;
}
.time p{
	font-weight: 300;
	text-align: center;
	font-size: 1.3em;
	line-height: 115%;
	margin-top:10%;
}

.literacy-color-credibility, .literacy-color-search, .literacy-color-composing{
	color:white;
}

.literacy-color-credibility{
	background-color: #FF5984
}
.literacy-color-search{
	background-color: #fe4040
}

.literacy-color-composing{
	background-color: #01bc85;
}
.literacy-color-practices{
	background-color: #0097d6;
}

.socialBtns {
	float:right;
	width:120px;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .footer  { order: 3; }
}

body {
  padding: 2em; 
  background-color:#f1f1f1;
}
